<h1>Borrow Book</h1>
    <form action="/borrow/{{{book_id}}}?user={{user_id}}" method="POST">
            <label>User_Id:{{{user_id}}}</label><br>
            <label>Book_Id:{{{book_id}}}</label><br>
            <label>Start_at</label><input type="date" name="start_at">
            <label>Return_at</label><input type="date" name="return_at">
            <input type="submit" value="Submit"><div></div>
    </form>