<h1>{{results.name}}</h1>
<h3>Author: {{{results.author}}}</h3>
<h4>Description: {{{results.description}}}</h4>
    {{#if results.quantity}}
        <a href="/borrow">Borrow a Book</a>
    {{else}}
         <p>No Stock is Available</p>
    {{/if}}